@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro');

body{

  overflow:hidden
}

p {
  border-right: solid 3px #5b03e4;
  white-space: nowrap;
  overflow: hidden;    
  font-family: 'Source Code Pro', monospace;  
  font-size: 40px;
  
  padding: 8px 0px 0px 610px;
  margin-top: 320px;
}

/* Animation */
p {
  animation: animated-text 3s steps(29,end) 1s 1 normal both,
             animated-cursor 700ms steps(29,end) infinite;
}

/* text animation */

@keyframes animated-text{
  from{width: 0;}
  to{width: 680px;}
}

/* cursor animations */

@keyframes animated-cursor{
  from{border-right-color: #5b03e4;}
  to{border-right-color: transparent;}
}
.left-banner {
    top: -103px;
    left: -25px;
    position: absolute;
    height: 250px;
    opacity: 100%;
    transform: rotate(345deg);
  }




  .r-banner {
    top: -1px;
    right: 0;
    position: absolute;
    width: 194px;
    height: 655px;
    transform: scaleX(-1);

  }
  .right-banner {
    top: 0px;
    right: 0px;
    position: absolute;
    height: 250px;
    padding: 720px 35px 80px 200px;
    opacity: 100%;
    transform: rotate(344deg);
  }   

  
  .l-banner {
    top: 195px;
    left: 0;
    position: absolute;
    width: 194px;
    height: 655px;
    opacity: 100%;
    transform: rotate(180deg);
  }
